.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 8em;
	padding-top: 1em;
	justify-content: space-around;
	/* background-color: red; */
	align-items: center;
	/* background-image: linear-gradient(
		to left top,
		#4e4e6f,
		#414073,
		#333176,
		#232278,
		#0f0f78
	);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */
	background: rgba(0, 0, 0, 0.76);
}

@media (min-width: 600px) {
	.header {
		height: 5em;
		flex-direction: row;
	}
}

.header .logo {
	/* width: 100%; */
	height: 4em;
	width: 8em;
	padding-bottom: 1em;
}

.header .logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.header input {
	height: 50%;
	padding: 1em;
	border: none;
	/* border-radius: 10px; */
	background: none;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.header input::placeholder {
	color: #fff;
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.icon {
	color: #fff;
	cursor: pointer;
	height: 100%;
}
